@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@600&display=swap");

html {
  overflow: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  display: none;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}
p {
  font-size: 1.1em;
  font-family: "Open Sans", sans-serif;
}

/* Prelaoder */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #070707;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 3px solid #ecf0f3;
  border-top: 3px solid orangered;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Navbar */
.navbar {
  padding-top: 8px;
  padding-bottom: 1px;
}
@media only screen and (max-width: 768px) {
  .navbar {
    padding-top: 5px;
  }
}
.icon-bar {
  width: 22px;
  height: 2px;
  background-color: #000;
  display: block;
  transition: all 0.2s;
  margin-top: 4px;
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.icon-bar:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
.navbar-brand {
  font-size: 26px;
  position: relative;
  z-index: 0;
}
.navbar-brand:after {
  position: absolute;
  top: 50%;
  left: -15px;
  width: 40px;
  height: 40px;
  content: "";
  background: #3e65ff;
  z-index: -1;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.navbar-brand span {
  color: #fff;
}
.navbar .navbar-nav .nav-link.active {
  color: black !important;
}

.nav-item {
  position: relative;
  font-size: 0.9rem;
}

.active:after {
  content: "";
  position: absolute;
  border-radius: 20px;
  bottom: 0;
  left: 14%;
  width: 70%;
  height: 2px;
  background-color: #3e64ff;
}

@media only screen and (max-width: 968px) {
  .active:after {
    display: none;
  }
}

#about,
#skills,
#education,
#experience {
  min-height: 500px;
}

/* Home Overlay */
.hero-wrap {
  width: 100%;
  height: 100vh;
  position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0.1;
  width: 50%;
  background: #3e64ff;
}
.hero-wrap .text {
  width: 100%;
}
/* Slider Text */
.slider-text .subheading {
  font-size: 24px;
  font-weight: 900;
  color: #3e64ff;
  letter-spacing: 2px;
}

.slider-text h1 {
  font-size: 40px;
  font-weight: 700;
}
@media (max-width: 767.98px) {
  .slider-text h1 {
    font-size: 40px;
  }
}

.slider-text h2 {
  font-weight: 600;
}
.slider-text h2 span {
  color: #3e64ff;
  text-decoration: underline;
}
.mouse {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 120px;
  z-index: 2;
}

.mouse-icon {
  width: 70px;
  height: 70px;
  border: 1px solid transparent;
  cursor: pointer;
  position: relative;
  text-align: center;
  margin: 0 auto;
  display: block;
}
.mouse-icon:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: #edf0ff;
  z-index: -1;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mouse-wheel {
  height: 70px;
  margin: 2px auto 0;
  display: block;
  width: 30px;
  background: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: 1.9s ease infinite wheel-up-down;
  -moz-animation: 1.9s ease infinite wheel-up-down;
  animation: 1.9s ease infinite wheel-up-down;
  color: #3e64ff;
  font-size: 30px;
}

@-webkit-keyframes wheel-up-down {
  100% {
    margin-top: 25px;
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  0% {
    margin-top: -10px;
    opacity: 0;
  }
}

@-moz-keyframes wheel-up-down {
  100% {
    margin-top: 25px;
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  0% {
    margin-top: -10px;
    opacity: 0;
  }
}

@keyframes wheel-up-down {
  100% {
    margin-top: 25px;
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  0% {
    margin-top: -10px;
    opacity: 0;
  }
}

h6 {
  color: rgba(0, 0, 0, 0.822);
  text-transform: uppercase;
  font-size: 1.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
h6 span {
  background: #fff;
  margin: 0 15px;
}
h6:before,
h6:after {
  background: rgba(0, 0, 0, 0.822);
  height: 2px;
  flex: 1;
  content: "";
}
h6.left:after {
  background: none;
}
.underline-magical {
  background-image: linear-gradient(180deg, #3e65ff 100%, #3e64ff 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}
.underline-magical:hover {
  color: #fff;
  background-size: 100% 100%;
}
.resume {
  border-radius: 20px;
  font-size: small;
}
.resume:hover {
  background-color: #fff;
  color: #151515;
  transition: 0.3s ease-in;
}
a.btn.btn-primary.resume:focus {
  outline: none;
  box-shadow: none;
}

/* Progress Bar */
.progress {
  height: 0.3em;
}
.progress-bar {
  background-color: #191919;
}
