@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@600&display=swap");

html,
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}
p {
  font-size: 1.1em;
  font-family: "Lato", sans-serif;
}

/* Prelaoder */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #070707;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 3px solid #ecf0f3;
  border-top: 3px solid orangered;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Navbar */
.navbar {
  padding-top: 2px;
  padding-bottom: 1px;
}
@media only screen and (max-width: 768px) {
  .navbar {
    padding-top: 5px;
    box-shadow: 0px 1px 1px #292b2c20;
  }
}
.icon-bar {
  width: 22px;
  height: 2px;
  background-color: #000;
  display: block;
  transition: all 0.2s;
  margin-top: 4px;
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.icon-bar:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
/* Particle Effect */
#particles-js {
  position: relative;
  margin-top: 50px;
  height: 90vh;
  width: 100%;
}
.header {
  font-size: 1.6em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.animated-text span {
  display: none;
  line-height: 1;
}
.animated-text span.active {
  display: inline-block;
}
.animated-text:after {
  content: "i";
  display: inline-block;
  width: 2px;
  text-indent: -100px;
  overflow: hidden;
  background: #aaa;
  animation: blink 0.3s infinite alternate;
}
@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Line through */
.head {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: auto;
  font-family: "Noto", sans-serif;
}
.head:before,
.head:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #000;
  margin: auto;
}
.head:before {
  margin-right: 10px;
}
.head:after {
  margin-left: 10px;
}
@media only screen and (max-width: 768px) {
  .head {
    width: 80%;
  }
}
#about {
  background-color: rgba(238, 238, 238, 0.151);
}
